<?xml version="1.0"?>

<launch>
    <!--
        Mandatory arguments to specify the platform configuration and hub 
        wheel controller list
    -->
    <arg name="platform_config" value="6_wheel_config"/>
    <arg name="use_kelo_tulip" default="true"/>
    <arg name="hub_wheel_controller_list" 
         value="robile_1_left_hub_wheel_controller
                robile_1_right_hub_wheel_controller
                robile_3_left_hub_wheel_controller
                robile_3_right_hub_wheel_controller
                robile_7_left_hub_wheel_controller
                robile_7_right_hub_wheel_controller
                robile_9_left_hub_wheel_controller
                robile_9_right_hub_wheel_controller
                robile_13_left_hub_wheel_controller
                robile_13_right_hub_wheel_controller
                robile_15_left_hub_wheel_controller
                robile_15_right_hub_wheel_controller" />

    <!--
        Several Optional arguments can be passed.
        Check the below launch file for full list of available arguments
    -->
    <include file="$(find robile_gazebo)/launch/platform_independent/robile_gazebo.launch" pass_all_args="true"/>

</launch>
