<?xml version="1.0"?>

<launch>
    <!--
        Mandatory arguments to specify the platform configuration and hub 
        wheel controller list
    -->
    <arg name="platform_config" value="robile3_config"/>
    <arg name="use_kelo_tulip" default="true"/>
    <arg name="hub_wheel_controller_list" 
         value="robile_2_left_hub_wheel_controller
                robile_2_right_hub_wheel_controller
                robile_6_left_hub_wheel_controller
                robile_6_right_hub_wheel_controller
                robile_5_left_hub_wheel_controller
                robile_5_right_hub_wheel_controller
                robile_1_left_hub_wheel_controller
                robile_1_right_hub_wheel_controller" />

    <node pkg="laser_filters" type="scan_to_scan_filter_chain" name="laser_filter">
	<rosparam command="load" file="$(find robile_navigation_demo)/ros/config/laser_sick_config.yaml" />
    </node>
    
    <!--
        Several Optional arguments can be passed.
        Check the below launch file for full list of available arguments
    -->
    <include file="$(find robile_gazebo)/launch/platform_independent/robile_gazebo.launch" pass_all_args="true"/>
    

</launch>
