<?xml version="1.0"?>
<launch>

<!-- Launch the wheel driver -->

<include file="$(find smart_wheel_driver)/launch/narko.launch"/>
<node pkg="joy" type="joy_node" name="joy" output="screen" />

<!-- Launch the laser  -->

  
<arg name="name" default="laser"/>
<arg name="host" default="192.168.1.35"/>
<arg name="frame_id" default="odom"/>
<node pkg="lms1xx" name="lms1xx_$(arg name)" type = "LMS1xx_node" output="screen">
   <param name="host" type="string" value="$(arg host)"/>
   <param name="frame_id" type="string" value="base_laser"/>
</node>
<node pkg="laser_filters" type="scan_to_scan_filter_chain" name="laser_filter">
   <rosparam command="load" file="$(find robile_navigation_demo)/ros/config/laser_sick_config.yaml" />
</node>

<!-- Load the Robot description -->

<!-- This will be commented for the time being until the  robot description package issue is sorted out -->

        <arg name="robot_description_path" default="$(find robile_description)/robots/robile3.urdf.xacro" />
   
        <param name="robot_description"
               command="rosrun xacro xacro '$(arg robot_description_path)'"/>

        <node pkg="joint_state_publisher" name="joint_state_publisher"
              type="joint_state_publisher">
            <param name="rate" value="10"/>
        </node>

        <node pkg="robot_state_publisher" name="robot_state_publisher"
              type="robot_state_publisher">
            <param name="publish_frequency" value="10"/>
        </node>


</launch>